.dialog {
    background-color: white;
}

button {
    width:90px;
}

.header {
    margin-left: 20%;
}

.dialog-container {
    padding: 20px;
}

.data {
    word-break: break-all;
}

.select-field {
    width:200px;
}