<div fxLayout="column" fxLayoutGap="25px" class="dialog">
    <mat-toolbar color="primary">
        <div fxLayout="row" fxFlex="100">
            <div fxFlex="80" fxLayoutAlign="center" class="header">Confirm Coords</div>
            <div fxFlex="20" fxLayoutAlign="end">
                <i (click)="close('clear')" class="material-icons">close</i>
            </div>
        </div>
    </mat-toolbar>
    <div fxLayout="column" fxLayoutGap="10px" class="dialog-container">
        <mat-form-field appearance="fill" class="select-field">
            <mat-label>Select Fence</mat-label>
            <mat-select (selectionChange)="selectedFenceChanged($event)">
                <mat-option *ngFor="let fence of data.fenceData" [value]="fence">
                    {{fence}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" *ngIf="isAddFence" class="select-field">
            <input matInput placeholder="Add new fence" [(ngModel)]="newRecord.name">
        </mat-form-field>
        <div fxFlex="30" class="data">{{data.text}}</div>
        <button fxFlexAlign="center" [disabled]="newRecord.name.length == 0" mat-raised-button color="primary"
            (click)="addNewFence()">
            Confirm</button>
    </div>
</div>