.list-container {
    overflow: auto;
    //height: 150px;
    width: 895px;
   
    .coord-values {
        word-break: break-all;
    }   

    .edit-icon {
        color:royalblue;
    }

    .delete-icon {
        color: red;
    }

    .sync-icon {
        color: green;
    }

    .select-field {
        width:200px;
        margin-right: 15px;
    }
}

textarea {
    height: 70px;
}

button {
    width:90px;
}