/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: beige;}
// .mapboxgl-ctrl button.mapboxgl-ctrl-zoom-out .mapboxgl-ctrl-icon{
//     background-image: url('../img/svg/mapboxgl-ctrl-zoom-out.svg')
//   }
//   .mapboxgl-ctrl button.mapboxgl-ctrl-compass .mapboxgl-ctrl-icon{
//     background-image: url('../img/svg/mapboxgl-ctrl-compass.svg')
//   }
//   .mapboxgl-ctrl button.mapboxgl-ctrl-zoom-in .mapboxgl-ctrl-icon{
//     background-image: url('../img/svg/mapboxgl-ctrl-zoom-in.svg')
//   }