/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: beige;}
// .mapboxgl-ctrl button.mapboxgl-ctrl-zoom-out .mapboxgl-ctrl-icon{
//     background-image: url('../img/svg/mapboxgl-ctrl-zoom-out.svg')
//   }
//   .mapboxgl-ctrl button.mapboxgl-ctrl-compass .mapboxgl-ctrl-icon{
//     background-image: url('../img/svg/mapboxgl-ctrl-compass.svg')
//   }
//   .mapboxgl-ctrl button.mapboxgl-ctrl-zoom-in .mapboxgl-ctrl-icon{
//     background-image: url('../img/svg/mapboxgl-ctrl-zoom-in.svg')
//   }

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: white; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: cadetblue; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: cadetblue; 
  }
  
  .mat-expansion-indicator::after {
    color: white !important;
  }

  mat-expansion-panel {
    background-color:#668eb3 !important;
  }

  mat-panel-title, mat-panel-description {
      color: white !important;
  }