.main-container {
    height: 100%;
    width: 100%;
    .row-data {
        height: 60px !important;
        border-bottom: solid 1px grey;
    }

    mat-expansion-panel {
        background-color:#668eb3;
    }

    mat-panel-title, mat-panel-description {
        color: white;
    }

    .list-container {
        overflow: auto;
        max-height: 180px !important;
    }

    .match-parent {
        height: 100%;
        width: 100%;
    }

    .selected-data {
        font-weight: normal !important;
    }

    .selected-data-title {
        color: white !important;
        font-weight: 500;
    }

    .map-btns {
        position: absolute;
        bottom: 20px;
        right: 10px;
    }

    button {
        margin: 6px;
    }

    .accept {
        background-color: limegreen;
        color: white;
    }
}