<div fxLayout="column" class="main-container">
    <div fxLayoutGap="10px">
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                   Select Location
                </mat-panel-title>
                <mat-panel-description>
                   <!-- title -->
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="list-container" fxLayout="column">
                <div fxLayout="row" class="row-data" fxFlexAlign="start" fxFlexFill fxLayoutGap="10px" fxLayoutGap.xs="5px">
                    <div fxLayout="column" fxFlex="15" fxFlex.md="25" fxFlex.lt-md="30" fxLayoutAlign="center"> <strong>From
                            Location</strong></div>
                    <div fxLayout="column" fxFlex="15" fxFlex.md="25" fxFlex.lt-md="30" fxLayoutAlign="center"> <strong>To
                            Location </strong></div>
                    <div fxLayout="column" fxFlex="10" fxFlex.md="20" fxFlex.lt-md="20" fxLayoutAlign="center">
                    </div>
                </div>
                <div fxLayout="row" class="row-data" fxFlexAlign="start" fxFlexFill fxLayoutGap="10px"
                    *ngFor="let data of cblData">
                    <div fxLayout="column" fxFlex="15" fxFlex.md="25" fxFlex.lt-md="30" fxLayoutAlign="center">
                        {{data.fromLocation.location}}</div>
                    <div fxLayout="column" fxFlex="15" fxFlex.md="25" fxFlex.lt-md="30" fxLayoutAlign="center">
                        {{data.toLocation.location}}</div>
                    <div fxLayout="column" fxFlex="10" fxFlex.md="20" fxFlex.lt-md="20" fxLayoutAlign="center"><button
                            mat-raised-button color="primary">Load</button>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
        
    </div>   
    <div class="map" id="map" class="match-parent"></div>
</div>