<div fxLayout="column" fxFlexFill [ngClass]="{'dialog-active': showDialog}">
    <div>
        <app-fence-list [fenceData]="fenceData" (deleteFenceData)="deleteFenceData($event)"
            (loadDataOnMap)="loadDataOnMap($event)" (triggerDrawing)="triggerDrawing($event)"
            (addFenceData)="closeDialog($event)"></app-fence-list>
    </div>
    <ngui-map zoom="19" [center]="mapCenter" mapTypeId="satellite" (mapReady$)="onMapReady($event)">
        <polygon *ngFor="let polygon of coords" [editable]="true" [paths]="polygon.polygonCoords"
            [strokeColor]="'#FFC107'" [strokeOpacity]="0.8" [strokeWeight]="2" [fillColor]="'#FFC107'"
            [fillOpacity]="0.35"></polygon>

        <drawing-manager [ngClass]="{'disable-map-drawing': !enableDrawing}" [drawingControl]="true"
            [drawingControlOptions]="drawOptions" [polygonOptions]="polygonOptions"></drawing-manager>

        <marker [position]="position"></marker>
    </ngui-map>
</div>
<div class="custm-dialog" fxLayout="column" fxFlexFill *ngIf="showDialog" fxLayoutAlign="center">
    <app-add-coords fxFlex="50" fxFlexAlign="center" [data]="dialogData" (closeDialog)="closeDialog($event)">
    </app-add-coords>
</div>
<div class="progress-loader" *ngIf="loading">
    <mat-progress-spinner [mode]="'indeterminate'">
    </mat-progress-spinner>
</div>