<ngui-map 
  zoom="20" 
  center="12.954159356094474, 77.63884458874949"
  mapTypeId="satellite">
  <polygon [editable]="true"
        [paths]="area1Coords"
        [strokeColor]="'#FFC107'"
        [strokeOpacity]="0.8"
        [strokeWeight]="2"
        [fillColor]="'#FFC107'"
        [fillOpacity]="0.35"></polygon>
        <polygon [editable]="true"
        [paths]="area2Coords"
        [strokeColor]="'#FFC107'"
        [strokeOpacity]="0.8"
        [strokeWeight]="2"
        [fillColor]="'#FFC107'"
        [fillOpacity]="0.35"></polygon>
        <polygon [editable]="true"
        [paths]="area3Coords"
        [strokeColor]="'#FFC107'"
        [strokeOpacity]="0.8"
        [strokeWeight]="2"
        [fillColor]="'#FFC107'"
        [fillOpacity]="0.35"></polygon>
        <polygon [editable]="true"
        [paths]="area4Coords"
        [strokeColor]="'#FFC107'"
        [strokeOpacity]="0.8"
        [strokeWeight]="2"
        [fillColor]="'#FFC107'"
        [fillOpacity]="0.35"></polygon>

        <marker [position]="position"
       ></marker>
</ngui-map>
